footer.app-footer
    a(href='http://ankaraphp.github.io') FPMS
    |  © 2017 AnkaraPHP Topluluğu.
    span.float-right
        | Baked with&nbsp;
        a(href='http://laravel.com') Laravel
        | &nbsp;and&nbsp;
        i.fa.fa-heart.love-from-ankaraphp