doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        block description
            meta(name='description', content='AnkaraPHP Laravel Workshop Freelance Project Management System')
        meta(name='author', content='AnkaraPHP')
        block title
            title Freelance Project Management System
        // Stylesheet
        link(href='assets/css/app.css', rel='stylesheet')
        // Page Styles
        block css
    block html