nav.sidebar-nav
    ul.nav
        li.nav-item
            a.nav-link(href='index.html')
                i.icon-chart
                |  Pano
        li.nav-title
            | PROJE YÖNETİMİ
        li.nav-item
            a.nav-link(href='projects.html')
                i.icon-book-open
                |  Projeler
                span.badge.badge-danger 5
        li.nav-item
            a.nav-link(href='customers.html')
                i.icon-user
                |  Müşteriler
                span.badge.badge-info 8
        li.nav-item
            a.nav-link(href='files.html')
                i.icon-share
                |  Dosya Merkezi
                span.badge.badge-danger 98%
        li.nav-item
            a.nav-link(href='passwords.html')
                i.icon-lock-open
                |  Şifre Yöneticisi
                span.badge.badge-default 8
        li.divider
        li.nav-title
            | TAKIM
        li.nav-item
            a.nav-link(href='team.html')
                i.icon-people
                |  Ekip
                span.badge.badge-warning 2