extends ./_layout.jade

block html
    body.app.flex-row.align-items-center
        .container
            .row.justify-content-center
                .col-md-8
                    .card-group.mb-0
                        .card.p-4
                            .card-block
                                h1 Parolamı Unuttum?
                                p.text-muted Hesabınıza tekrar erişim sağlamak için lütfen kayıt olduğunuz e-posta adresini giriniz.
                                form(method="get", action="forgot-success.html")
                                    .input-group.mb-3
                                        span.input-group-addon
                                            i.icon-user
                                        input.form-control(type='email', placeholder='E-Posta Adresi', required)
                                    .row
                                        .col-6
                                            button.btn.btn-primary.px-4(type='submit') Sıfırlama Bağlantısını Gönder
                                        .col-6.text-right
                                            a.btn.btn-link.px-0(href='login.html') Giriş Yap
        // Javascript
        script(src='assets/js/app.js')