extends ./_layout.jade

block html
    body.app.flex-row.align-items-center
        .container
            .row.justify-content-center
                .col-md-8
                    .card-group.mb-0
                        .card.p-4
                            .card-block
                                h1 Giriş Yap
                                p.text-muted Hesabınıza giriş yapın
                                form(method="get", action="index.html")
                                    .input-group.mb-3
                                        span.input-group-addon
                                            i.icon-user
                                        input.form-control(type='email', placeholder='E-Posta Adresi', required)
                                    .input-group.mb-4
                                        span.input-group-addon
                                            i.icon-lock
                                        input.form-control(type='password', placeholder='Parola', required)
                                    .row
                                        .col-6
                                            button.btn.btn-primary.px-4(type='submit') Giriş Yap
                                        .col-6.text-right
                                            a.btn.btn-link.px-0(href='forgot.html') Parolamı Unuttum?
                        .card.card-inverse.card-primary.py-5.d-md-down-none(style='width:44%')
                            .card-block.text-center
                                div
                                    h2 Takım Oluştur
                                    p Geliştirme takımınız ile projelerinizi planlayabilir, gerekli görev dağıtımını yapabilir ve hatta dosya depolayabilirsiniz.
                                    a.btn.btn-primary.active.mt-3(href='register.html') Hemen Takım Oluştur!
        // Javascript
        script(src='assets/js/app.js')