extends ./_page.jade

block title
    title Projeler

block breadcrumb
    li.breadcrumb-item.active Projeler

block content
    p.text-right
        a.btn.btn-success(href="new-project.html")
            i.fa.fa-plus-circle
            | &nbsp; Yeni Proje Ekle
    .card
        .card-header
            i.fa.fa-book Projeler
        .card-block
            table.table.table-bordered.table-striped
                thead
                    tr
                        th Proje
                        th Müşteri
                        th Başlangıç Tarihi
                        th Bitiş Tarihi
                        th Tamamlanma
                        th İşlem
                tbody
                    tr
                        td AnkaraPHP Websitesi
                        td
                            a.btn.btn-info.btn-sm(href="customer.html") AnkaraPHP
                        td 3 Haziran 2017
                        td
                            span.badge.badge-warning Yapım Aşamasında
                        td
                            .progress.mb-0.mt-1
                                .progress-bar.progress-bar-striped.progress-bar-animated.bg-primary(role="progressbar", style="width: 25%", aria-valuenow="25", aria-valuemin="0", aria-valuemax="100") 25%
                        td
                            a.btn.btn-primary.btn-sm(href="project.html")
                                i.fa.fa-eye
                                | &nbsp;Proje
                    tr
                        td Workshop Frontend
                        td
                            a.btn.btn-info.btn-sm(href="customer.html") Eray
                        td 3 Haziran 2017
                        td 3 Haziran 2017
                        td
                            .progress.mb-0.mt-1
                                .progress-bar.progress-bar-striped.bg-success(role="progressbar", style="width: 100%", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100") 100%
                        td
                            a.btn.btn-primary.btn-sm(href="project.html")
                                i.fa.fa-eye
                                | &nbsp;Proje
                    tr
                        td Yarım Kalan İşler
                        td
                            a.btn.btn-info.btn-sm(href="customer.html") Sinir Bozan Müşteri
                        td 1 Haziran 2017
                        td
                            span.badge.badge-danger İptal Edildi
                        td
                            .progress.mb-0.mt-1
                                .progress-bar.progress-bar-striped.bg-danger(role="progressbar", style="width: 99%", aria-valuenow="99", aria-valuemin="0", aria-valuemax="99") 99%
                        td
                            a.btn.btn-primary.btn-sm(href="project.html")
                                i.fa.fa-eye
                                | &nbsp;Proje